
**/Debug
**/Release
*/Debug/
*/Release/
**/.xdchelp
**/.config
*/.config/
**/.launches
*/.launches/
**/targetConfigs
*/targetConfigs/
dvt
dvt/*
.jxbrowser-data
.jxbrowser-data/*
.metadata
.metadata/*
RemoteSystemsTempFiles
RemoteSystemsTempFiles/*
.jxbrowser.userdata/
.jxbrowser.userdata/*
.tempFiles/
.tempFiles/*

Projekt_PBL_A/DSP2833x_CodeStartBranch.asm
Projekt_PBL_A/DSP2833x_DefaultIsr.c
Projekt_PBL_A/DSP2833x_PieCtrl.c
Projekt_PBL_A/DSP2833x_PieVect.c
Projekt_PBL_A/DSP2833x_SysCtrl.c
Projekt_PBL_A/DSP2833x_usDelay.asm
Projekt_PBL_A/DSP2833x_Adc.c
Projekt_PBL_A/DSP2833x_ADC_cal.asm
Projekt_PBL_A/DSP2833x_Headers_nonBIOS.cmd
Projekt_PBL_A/DSP2833x_GlobalVariableDefs.c
Projekt_PBL_A/28335_RAM_lnk.cmd
